@addTagHelper *, Kentico.Content.Web.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>@ViewBag.Title - My site</title>
    <page-builder-styles />
</head>
<body>
    @RenderBody()
    <page-builder-scripts />
</body>
</html>
