@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@using NewSite.Models
@addTagHelper *, Kentico.Content.Web.Mvc
@model GoodbyeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ShowTitle)
{
    <h1>@Model.DocumentName</h1>
}
<h2>@Model.DocumentCulture</h2>
<h1>Farewell, my friend.</h1>
<div>
    <div>
        @await Html.Kentico().EditableAreaAsync("top")
    </div>
    <div style="background-color: #eeeeee">
        @await Html.Kentico().EditableAreaAsync("bottom")
    </div>
</div>
